#header
{
	height:90px;
	width:100%;
	background-color:#ccc;
	margin-top:10px;
	padding-top:2px; 
	text-align:center; 
}
.img2
{
	margin-right:20px;
	margin-top:-60px;
}
#menu
{
	height:30px;
	background-color:#b29960;
	margin-top:0px;
	padding-top:1px; 
}
#menulist
{
	padding-top:5px;
	padding-left:110px;
	font-size:20px;
	text-decoration:none;
}
#welcome
{
	height:50px;
	background-color:slategrey; 
}
#h3
{
	margin-top:10px;
	color:lightyellow;
	word-spacing:20px;
	padding-top:0px;
}
#headh1
{
	//float:center;
	color:green;
	margin-right:70px;
}
#img1
{
	margin-left:30px;
	float:left;
	height:90px;
	width:90px;
	display:inlink-block;

}
#img2
{
	margin-left:5px; 
	width:20px;
	height:20px;
	margin-top:5px;
	//margin-right:10px;
}
#bodydiv1
{
	width:350px;
	height:420px;
	margin-top:5px;
	margin-left:10px;
	background-color:#b29960;
}
#unorderlist
{
	font-size:20px;
	margin-left:15px;
	color:maroon;
	//text-decoration:none;
}
#unorderlist a
{
	text-decoration:none;
}
#link:link
{
	color:red;
}
#link:visited
{
	color:green;
}
#link:hover
{
	color:hotpink;
}
#link:active
{
	color:blue;
}
#img3
{
	margin-left:5x;
	height:400px;
	width:500px;
 }
#div5 #button1
{
	//padding-left:20px;
	//padding-top:5px;
	//position:center;
	//width:80px;
	//height:30px;
	border-radius:5px;
   border:6px solid lightblue;
   color:purple;
   font-weight:bolder;
}
#footer
{
	height:30px;
	background-color:grey; 
	margin-bottom:0px;
}
p
{
	margin-top:5px;
	display:inline-block;
	margin-left:110px;
}
#div5 button
{
	width:70%;
	height:45px;
	position:center;
	margin-top:50px;
	margin-left:55px;
	background-color:peachpuff;
	//color:darkslategrey;
}
#div5 button a
{
	text-decoration:none;
	color:purple;
	font-size:15px;
}

#div3
{
	height:350px;
	width:320px;
	background-color:lightyellow;
	display:inline-block;
	margin-left:10px;
	overflow:hidden;
	float:left;
	margin-top:20px;
	border:10px solid pink;
    -webkit-border-radius:5px;
    -o-border-radius:5px;
    -moz-border-radius:10px;
}
#div4
{
	height:350px;
	width:600px;
	background-color:lightgrey;
	display:inline-block;
	margin-left:10px;
	float:left;
	margin-top:20px;
	border:10px solid skyblue;
    -webkit-border-radius:5px;
    -o-border-radius:5px;
    -moz-border-radius:10px;
}
#div4 img
{
	height:350px;
	width:600px;
	//width:100%;
	//height:100%;
	//margin-top:20px;
	
}
#div5
{
	height:350px;
	width:320px;
	background-color:lightyellow;
	display:inline-block;
	margin-left:10px;
	float:left;
	margin-top:20px;
	border:10px solid pink;
    -webkit-border-radius:5px;
    -o-border-radius:5px;
    -moz-border-radius:10px;
}
#hr2
{
	margin-top:437px;
	height:1px;
	background-color:skyblue;
}
#hr1
{
	margin-top:0px;
}
#div6
{
	background-color:teal;
	height:50px;
	margin-bottom:0px;
}
#div6 p
{
	margin-top:5px;
	color:yellowgreen;
	text-align:center;
	word-spacing:10px;
	font-size:12px;
	display:block;
	margin-bottom:0px;
}
#h4
{
	text-align:center;
	font-size:15px;
	color:#7c2760;
	padding-top:5px;
}
#bgimage
{
	opacity:0.2;
	width:100%;

}
#p1
{
	color:darkorange;
}
#body
{
	background-image:url(background2.jpg);
	//opacity:0.1%;
	//background-repeat:no-repeat;

}
#select1
{
	text-decoration:none;
	width:70%;
	height:45px;
	text-align:center;
	margin-top:50px;
	margin-left:55px;
	padding-left:70px;
	background-color:peachpuff;
	color:darkgreen;
	border-radius:5px;
   border:6px solid lightblue;
   font-weight: bolder;
}
#a1
{
	text-decoration:none; 
}
#option
{
	//background-color:;
	color:orange;
	border-radius:3px;
    border:3px solid lightgrey;
}